proprietary/vendor/camera/mimoji/model2.zip
proprietary/vendor/data-app/SmartHome/SmartHome.apk
proprietary/vendor/etc/camera/st_license.lic
proprietary/vendor/lib64/camera/com.qti.tuned.cas_semco_ov48c_wide.bin
proprietary/vendor/lib/camera/com.qti.tuned.cas_semco_ov48c_wide.bin
